section.container.mt-5
    .row.justify-content-center
        .col-12.col-lg-8
            h1 @varg-dev/#[strong Treemap Renderer]
            p.lead Test Page for Development - now with pug!
            p // about:
                | version #[code#version version],
                | branch #[code#branch branch],
                | commit #[code#commit commit].

script(type="module").
    import * as treemaprenderer from './index.ts';
    window['treemaprenderer'] = treemaprenderer;
    document.title = __LIB_NAME__;
    document.querySelector('#version').innerHTML = treemaprenderer.version();
    document.querySelector('#branch').innerHTML = treemaprenderer.branch();
    document.querySelector('#commit').innerHTML = treemaprenderer.commit();
    document.querySelector('#cryear').innerHTML = new Date().getFullYear();
    const renderer = treemaprenderer.renderer;
    console.log(`Loeaded Renderer: `, renderer);

//- script(type="module")
//-     | import './example/index.js'

include ./csv-treemap.pug

footer
    .row.text-center
        .col-12
            p.mt-5.mb-4
                | &copy; 2022&thinsp;&ndash;&thinsp;
                span#cryear
