
extends ./partials/template.pug

block content

  section.container.mt-5
    .row
      .col-12
        h1
          | #[span.font-weight-bold #[a(href=base+'index.html') Treemaps]]

  section.container.mt-5
    .row

        .col-lg-4.col-sm-6.col-xs-12.mb-4
            .card
                img.card-img-top(src="examples/csv-with-explicit-inner-nodes/thumbnail.png")
                .card-body
                    h3.card-title
                      | Explicit Inner Nodes Treemap
                    p.card-text
                      | This treemap is defined as a CSV, where both inner nodes and leaf nodes are declared explicitly.
                      | Where leaf nodes usually have attributes associated with them, inner nodes doesn't as their values are derived from their child nodes as required.
                    a.btn.btn-primary(href=base+"examples/csv-with-explicit-inner-nodes/")
                      | Try Out

        .col-lg-4.col-sm-6.col-xs-12.mb-4
            .card
                img.card-img-top(src="examples/csv-with-implicit-inner-nodes/thumbnail.png")
                .card-body
                    h3.card-title
                      | Implicit Inner Nodes Treemap
                    p.card-text
                      | This treemap is defined as a CSV, where the inner nodes are implicitly declared as part of a leaf nodes' path.
                      | Here, this path is slash-separated, similar to UNIX filenames.
                    a.btn.btn-primary(href=base+"examples/csv-with-implicit-inner-nodes/")
                      | Try Out

        .col-lg-4.col-sm-6.col-xs-12.mb-4
            .card
                img.card-img-top(src="examples/csv-with-grouping/thumbnail.png")
                .card-body
                    h3.card-title
                      | Grouped Treemap
                    p.card-text
                      | This treemap is defined as a CSV, where a grouping specification associates attributes of the leaf nodes.
                      | The equal values among leaf nodes in those attributes results in a common parent, and thus, forming a group.
                      | Multiple attributes for grouping can be chained using the slash as path separator.
                    a.btn.btn-primary(href=base+"examples/csv-with-grouping/")
                      | Try Out
